@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  .loader-wrapper {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }

  .loader-wrapper .packman::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 25px;
    background-color: #f10707;
    border-radius: 100px 100px 0 0;
    transform: translate(-50%, -50%);
    animation: pac-top 0.5s linear infinite;
    transform-origin: center bottom;
  }

  .loader-wrapper .packman::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 25px;
    background-color: #f10707;
    border-radius: 0 0 100px 100px;
    transform: translate(-50%, 50%);
    animation: pac-bot 0.5s linear infinite;
    transform-origin: center top;
  }

  @keyframes pac-top {
    0% {
      transform: translate(-50%, -50%) rotate(0);
    }

    50% {
      transform: translate(-50%, -50%) rotate(-30deg);
    }

    100% {
      transform: translate(-50%, -50%) rotate(0);
    }
  }

  @keyframes pac-bot {
    0% {
      transform: translate(-50%, 50%) rotate(0);
    }

    50% {
      transform: translate(-50%, 50%) rotate(30deg);
    }

    100% {
      transform: translate(-50%, 50%) rotate(0);
    }
  }

  .dots .dot {
    position: absolute;
    z-index: -1;
    top: 8px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #000;
  }

  .dots .dot:nth-child(1) {
    left: 90px;
    animation: dot-stage1 0.5s infinite;
  }

  .dots .dot:nth-child(2) {
    left: 60px;
    animation: dot-stage1 0.5s infinite;
  }

  .dots .dot:nth-child(3) {
    left: 30px;
    animation: dot-stage1 0.5s infinite;
  }

  .dots .dot:nth-child(4) {
    left: 10px;
    animation: dot-stage2 0.5s infinite;
  }

  @keyframes dot-stage1 {
    0% {
      transform: translate(0, 0);
    }

    100% {
      transform: translate(-24px, 0);
    }
  }

  @keyframes dot-stage2 {
    0% {
      transform: scale(1);
    }

    5%,
    100% {
      transform: scale(0);
    }
  }
}
